/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// colors
:root {
  $black: #000;
  $black-2: #212121;
  $gray-text: #999;
  $brown: #7f5539;
  $brown: #b08968;
  $blue-light: #edf2f4;
  $white: #fff;
  $font: "Poppins", sans-serif;
}
